/node_modules/
/lib/
/test/
custom-elements.json
/.vscode/
# top level source
my-element.js
my-element.js.map
my-element.d.ts
my-element.d.ts.map
# only generated for size check
my-element.bundled.js
/dist/
# local config with secrets
src/config.ts
src/config.js
src/config.js.map
src/config.d.ts
src/config.d.ts.map
.DS_Store